.logo__img {
    width: 17rem;
    height: 12rem;
}

@media (min-width: 556px) {
    .logo__img {
        width: 20rem;
        height: 16rem;
    }
}

@media (min-width: 768px) {
    .logo__img {
        width: 28rem;
        height: 18rem;
    }
}