:root {
    --fuentePrincipal: 'Hind', sans-serif;
    --white: #fff;
    --black: #000;

    --azulOscuro: #284368;

    --azulVerdoso: #467a88;

    --azulVerdosoClaro: #70a0ad;

    --verdeClaro: #d2e7e7;

    --blancoVerdoso: #f9f9f9;
}