.menu {
    position: absolute;
    right: -8%;
    top: 10%;
    width: 8rem;
    height: 4rem;
}

@media (min-width: 556px) {
    .menu {
        right: -4%;
    }
}

@media (min-width: 1024px) {
    .menu {
        display: none;
    }
}