@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.menu__header {
    font-size: 2.4rem;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}